body {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5 {
    line-height: 150%;
}

header{
    background-color: #F1F3FF;
}


.logo {
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
}

.hero {
    position: absolute;
    width: 704px;
    height: 407px;
    left: 0px;
    top: 97px;
    /* background-color: #0D28A6; */
    /* border-radius: 50px 0px 0px 0px; */
}

.hero > img {
    position: absolute;
    left: 70px;
    top: -140px;
    width: 85%;
}

.img-custom {
    position: absolute;
    left: 100px;
    top: 20px;
}

footer i {
    color: #0D28A6;
    font-size: x-large;
}

.wrapper{
    width: 100%;
  }
  .carousel{
    margin: auto;
    padding: 50px 50px;
  }
  .carousel .cardcar{
    position: relative;
    background: #F1F3FF;
    border-radius: 8px;
    width: 619px;
    height: 270px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .cardcar .cardcar-content {
      display: flex;
      flex-direction: row;
      align-items: left;
      padding: 30px;
      margin-left: 5px;
      position: relative;
  }
  
  .cardcar-content .img-caro {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      margin-right: 40px;
      margin-left: -20px;
      margin-top: 30px;
  }
  
  .cardcar-content .desc-card{
      display: flex;
      flex-direction: column;
      align-items: right;
      margin-top: 10px;
    } 
    
    .desc-card .name{
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      margin-top: 10px;
    }
    
    .desc-card .description{
      font-size: 14px;
      text-align: justify;
    }
    
    .cardcar-content .description i{
      font-size: 14px;
      margin: 0 1px;
      color: #F9CC00;
    }
  
  .owl-dots{
    text-align: center;
    margin-top: 40px;
  }
  .owl-dot{
    height: 25px;
    width: 25px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #5CB85F!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: #5CB85F!important;
  }
  
  