@media (min-width: 1440px) {
  .navbar-toggler{
    display: none;
  }
}
@media (max-width: 400px) {
    ul.nav.menu {
      display: none;
    }
    .carousel{
        margin: auto;
        padding: 40px 32px 40px 32px;
      }

    .carousel .cardcar{
        position: relative;
      background: #F1F3FF;
      border-radius: 8px;
      width: 328px;
      height: 372px;
      margin: 10px 0;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    .cardcar .cardcar-content {
        display: flex;
        flex-direction: row;
        align-items: left;
        padding: 30px;
        margin-left: 5px;
        position: relative;
    }
    
    .cardcar-content .img-caro {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin-right: 40px;
        margin-left: -20px;
        margin-top: 30px;
    }
    
    .cardcar-content .desc-card{
        display: flex;
        flex-direction: column;
        align-items: right;
        margin-top: 10px;
      } 
      
      .desc-card .name{
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        margin-top: 10px;
      }
      
      .desc-card .description{
        font-size: 14px;
        text-align: justify;
      }
      
      .cardcar-content .description i{
        font-size: 14px;
        margin: 0 1px;
        color: #F9CC00;
      }
      
      

    



    
  }

  /* @media (min-width: 768px) {
    .header-2-1 .navbar {
      padding: 3rem 4rem;
    }

    .header-2-1 .hero {
      padding: 3rem 4rem 5rem;
    }

    .header-2-1 .left-column {
      margin-bottom: 3rem;
    }
  }

  @media (min-width: 992px) {
    .header-2-1 .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }

    .header-2-1 .navbar {
      padding: 3rem 6rem;
    }

    .header-2-1 .hero {
      padding: 3rem 6rem 5rem;
    }

    .header-2-1 .left-column {
      width: 50%;
      margin-bottom: 0;
    }

    .header-2-1 .right-column {
      width: 50%;
    }

    .header-2-1 .title-text-big {
      font-size: 3.75rem;
      line-height: 1.2;
    }

  } */